if TARGET_BRAIINS_II1_STM

config SYS_BOARD
	default "ii1-stm"

config SYS_VENDOR
	default "braiins"

config SYS_CONFIG_NAME
	default "ii1-stm"

choice
	prompt "Boot initialization"

config BOOT_INIT_EMMC
	bool "eMMC initialization"

config BOOT_INIT_SD
	bool "SD card initialization"

endchoice

endif
