if TARGET_BRAIINS_STM32MP15_II1

config SYS_BOARD
	default "stm32mp157c"

config SYS_VENDOR
	default "braiins"

config SYS_CONFIG_NAME
	default "stm32mp15_ii1"

endif

if TARGET_BRAIINS_STM32MP15_II2

config SYS_BOARD
	default "stm32mp157c"

config SYS_VENDOR
	default "braiins"

config SYS_CONFIG_NAME
	default "stm32mp15_ii2"

endif

if TARGET_BRAIINS_STM32MP15_II1 || TARGET_BRAIINS_STM32MP15_II2

choice
	prompt "Boot initialization"

config BOOT_INIT_EMMC
	bool "eMMC initialization"

config BOOT_INIT_SD
	bool "SD card initialization"

endchoice

endif
